.App {
  text-align: center;
  margin-top: 30px;
}

img {
  width: 65%;
}

input {
  padding-left: 10px;
  width: 50%;
  height: 45px;
  outline: none;
}

.card-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 30px !important;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}


@media only screen and (max-width: 700px) {
  img {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .card-container, img {
    width: 80%;
  }
  input {
    width: 75%;
  }
}


@media only screen and (max-width: 400px) {
  .card-container, img {
    width: 70%;
  }

}